</body>

<h1>The obstacle is the way</h1>
<h2>It seems like your email address or password are incorrect!</h2>
<h2>Please, <a href="/login">try again</a></h2>

</body>

<style>

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ddd;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    width: 240px;
  }

</style>