<body>

<h1>It was nice of you to come by and visit us today</h1>

<h2>Come back soon!</h2>

</body>

<style>

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ddd;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    width: 240px;
  }
</style>
