<head>
<title>MakersBnB</title>
 <link rel="icon" href="https://i.imgur.com/nDkbAZs.png">
 <!-- Font -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!--  Bootstrap -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- CSS file -->
 <link rel="stylesheet" href="style.css">

<!-- favcon icon -->
 <script src="https://kit.fontawesome.com/78b204e6a3.js" crossorigin="anonymous"></script>
</head>


<body>
<!-- NavBar -->
<nav class="navbar ">
   <div class="container">
     <a class="navbar-brand" href="/"> 
       <img src="https://i.imgur.com/IdpwQZw.png" alt="MakersBnB" width="30" height="24"> 
     </a>
     <span class="navbar-text">
      MakersBnB
    </span>
     <button class ='btn nav-btn' type ='submit' name ='log_out' value ='Log out'>Log out</button>
   </div>
 </nav>

<div class="error">

<h1>It was nice of you to come by and visit us today</h1>
<br> </br>
<img class="goodbye-img"src="https://i.imgur.com/taOUf8t.png?1" alt="">

<!-- footer -->

 <nav class="footer fixed-bottom text-center">
<p class="footer-text fixed-bottom "> Check our Repo:  <a href="https://github.com/frank-mck/MakerBnB" target="_blank"> <i class="fab fa-github fa-1x"></i> </a></p>

</nav>


  <!-- End -->
</div>
</body>
