<body>

<h1>Welcome back!</h1>
<h2>Please fill in your details below:</h2>

<form action="/confirm" method="post">
<input type="email" name="email" placeholder="Email" />
<input type="password" name="password" placeholder="Password" />
<input type="submit" value="Login" />
</form>

</body>

<style>

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ddd;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    width: 240px;
  }

</body>

</style>