<body>

<h1>Welcome to your next destination!</h1>

<form action="/successful" method="post">
<input type="text" name="name" placeholder="Name" />
<input type="email" name="email" placeholder="Email" />
<input type="password" name="password" placeholder="Password" />
<input type="password" name="confirm_password" placeholder="Confirm Password" />
<input type="submit" value="Sign up" />
</form>

<style>

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    width: 240px;
    background-color: #f2f2f2;
  }

   input:focus {
  outline: none;
}

</body>