<body>

  <h1> Thank you for your booking! </h1>
</body>

<style>

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
  }

  form {
    display: flex;
    flex-direction: column;
  }

   input:focus {
  outline: none;
}

  input {
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    width: 240px;
    background-color: #f2f2f2;
  }
 
  </style>

