<h1> List my spaces </h1>

<form  action="/listing" method="post">
  <input type="text" name="name"/>
  <input type="text" name="description" placeholder="Description" />
  <input type="text" name="price" placeholder="Price" />
  <input type="date" name="start_date" />
  <input type="date" name="finish_date" />
  <input type="submit" value="List my spaces" />
</form>

